<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qbp.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qbp.model.entity.Resource">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="description" property="description"/>
    </resultMap>
    <select id="getResources" resultMap="BaseResultMap">
        SELECT r.id, r.name, r.url, r.description
        FROM resource r
                 JOIN role_resource_relation rrr ON r.id = rrr.resource_id
                 JOIN user_role_relation urr ON rrr.role_id = urr.role_id
        WHERE urr.user_id = #{id};
    </select>
</mapper>
